#!/bin/bash

. /etc/rc.d/BOOTCONFIG
. /etc/rc.d/PUPSTATE
. /etc/DISTRO_SPECS

[ "$PUNIONFS" != "overlay" ] && exit 1

export TEXTDOMAIN=sfs_load
export OUTPUT_CHARSET=UTF-8

if [ $# -ne 0 ]; then
	for SFS in "$@"; do
		ASKMOUNT=1
		# assumption: if we have a loop device associated with this SFS, it's mounted or loaded
		LOOPDEV="`losetup -n -j "$SFS" | head -n 1 | cut -f 1 -d :`"

		# TODO: add PUPMODE 12 support, without leaving broken symlinks behind after reboot
		if [ $PUPMODE -eq 5 -o $PUPMODE -eq 13 ] && [ -z "$LOOPDEV" ]; then
			yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to load") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
			if [ $? -eq 0 ]; then
				FOUND=0
				for i in `seq 3 99`
				do
					MNT="/initrd/pup_ro$i"
					mountpoint -q "$MNT" && continue
					FOUND=1
					break
				done
				[ $FOUND -eq 0 ] && exit 1

				mkdir -p "$MNT" || continue
				mount -r -t squashfs -o loop,noatime "$SFS" "$MNT"
				if [ $? -ne 0 ]; then
					rmdir "$MNT"
					continue
				fi
				ASKMOUNT=0

				yaf-splash -bg orange -placement top -close never -text "$(gettext Loading) ${SFS##*/}" &
				PID=$!

				cp -asn "$MNT"/* /
				/etc/rc.d/rc.update w
				pidof -s jwm > /dev/null && jwm -reload
				kill $PID
			fi
		elif [ -n "$LOOPDEV" ]; then
			yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to unload") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
			if [ $? -eq 0 ]; then
				MNT="`grep "^$LOOPDEV " /proc/mounts 2>/dev/null | head -n 1 | cut -f 2 -d ' '`"
				if [ -n "$MNT" ]; then
					yaf-splash -bg orange -placement top -close never -text "$(gettext Unloading) ${SFS##*/}" &
					PID=$!
					while read ABSPATH; do
						rm -f "${ABSPATH#/initrd/pup_rw}"
					done < <(find /initrd/pup_rw/ -lname "$MNT/*")
					umount -l "$LOOPDEV"
					rmdir "$MNT"
					/etc/rc.d/rc.update w
					pidof -s jwm > /dev/null && jwm -reload
					kill $PID
				else
					losetup -d "$LOOPDEV"
				fi
			fi

			ASKMOUNT=0
		fi

		BASE="${SFS##*/}"

		SKIP=0
		case "$BASE" in
		$DISTRO_BDRVSFS|$DISTRO_PUPPYSFS|$DISTRO_ZDRVSFS|$DISTRO_FDRVSFS|$DISTRO_ADRVSFS|$DISTRO_YDRVSFS|kbuild-*.sfs|devx_${DISTRO_FILE_PREFIX}_${DISTRO_VERSION}.sfs|docx_${DISTRO_FILE_PREFIX}_${DISTRO_VERSION}.sfs|nlsx_${DISTRO_FILE_PREFIX}_${DISTRO_VERSION}.sfs) SKIP=1 ;;
		esac

		[ $ASKMOUNT -eq 0 ] && continue
		yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to mount") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
		[ $? -ne 0 ] && continue
		MNT="/mnt/`echo "$BASE" | tr '/ ' '+_'`"
		mkdir -p "$MNT"
		mountpoint -q "$MNT"
		if [ $? -ne 0 ]; then
			mount -r -t squashfs -o loop,noatime "$SFS" "$MNT" || continue
		fi

		defaultfilemanager "$MNT" &
	done

	exit 0
fi

exec yad --title SFS-Load --window-icon=gtk-preferences --height=300 --list --no-headers --column=name --button=gtk-close -- $LASTUNIONRECORD
