[Desktop Entry]
Encoding=UTF-8
Name=Pointer Settings
Icon=input-mouse-symbolic
Exec=libinput-config
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=libinput-config
