[Desktop Entry]
Encoding=UTF-8
Name=Keyboard Settings
Icon=input-keyboard-symbolic
Exec=xkb-config
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=xkb-config
