[Desktop Entry]
Encoding=UTF-8
Name=Bootflash
Icon=/usr/share/pixmaps/puppy/power.svg
Comment=Install Puppy
Exec=bootflash
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=Puppy installer
