[Desktop Entry]
Encoding=UTF-8
Name=xkb-config
Icon=input-keyboard-symbolic
Comment=Keyboard settings
Exec=xkb-config
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=xkb-config
