[Desktop Entry]
Encoding=UTF-8
Name=Bootflash
Icon=drive-removable-media
Comment=Install Puppy
Exec=bootflash
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=Puppy installer
