[Desktop Entry]
Encoding=UTF-8
Name=System Services
Exec=services-config
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=services-config
