[Desktop Entry]
Encoding=UTF-8
Name=labwc Theme Switcher
Icon=window-new-symbolic
Comment=Change window decoration
Exec=ptheme-labwc
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=pTheme_labwc
