[Desktop Entry]
Encoding=UTF-8
Name=swaylock
Icon=system-lock-screen-symbolic
Comment=Lock screen
Comment[fr]= Verrou d'écran
Exec=swaylock
Terminal=false
Type=Application
Categories=Security
GenericName=Screen locker
